<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mymedicalcompanion">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RecommendedReport"></activity>
        <activity android:name=".options.recommendTest" />
        <activity android:name=".showingmedsandteststonurse" />
        <activity android:name=".retrevingpatientsfornurse" />
        <activity android:name=".nursescreen" />
        <activity
            android:name=".nurselogin"
            android:noHistory="true" />
        <activity android:name=".emergency" />
        <activity android:name=".usefullinks" />
        <activity android:name=".retrevingtests" />
        <activity android:name=".retrevingmeds" />
        <activity android:name=".writingmedicinesforpatient" />
        <activity android:name=".retrevingpatients" />
        <activity android:name=".medicationscreen" />
        <activity android:name=".cardiologydoctors" />
        <activity android:name=".doctorspecialization" />
        <activity android:name=".patientscreen" />
        <activity android:name=".doctoractivity" />
        <activity
            android:name=".doctorlogin"
            android:noHistory="true" />
        <activity
            android:name=".nursesignup"
            android:noHistory="true" />
        <activity
            android:name=".patientsignup"
            android:noHistory="true" />
        <activity android:name=".doctorsactivity" />
        <activity
            android:name=".login"
            android:noHistory="true" />
        <activity
            android:name=".doctorsignup"
            android:noHistory="true" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>